<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Bappi's Fun Fact: Explore humorous tech-related content.</title>

  <!-- Open Graph Protocol (OGP) meta tags -->
  <meta property="og:title" content="Discover some fun facts and jokes related to IT">
  <meta property="og:description" content="Explore humorous tech-related content.">
  <meta property="og:image" content="https://media.licdn.com/dms/image/D4D22AQH8wlHEjGrFqQ/feedshare-shrink_1280/0/1696860620890?e=1700697600&v=beta&t=-HYGPucgAOoBxLQ4gUbouX1QcElRKgnSKDcNtLFzlbM">
  <meta property="og:url" content="http://bappikabir.com"">
  <meta property="og:type" content="http://bappikabir.com">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
