<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-2x"></i> -->
    <i class="fa-regular fa-face-grin-tongue-wink fa-4x"></i>
    <h1 class="display-6">Welcome to Bappi's Fun Facts & IT Jokes </h1>
    <p class="lead">Read some jokes or login to write yours anonymously</p>
    <hr>
    <a class="btn btn-lg" href="/secrets"  role="button">
      <input style="border-radius: 5px; margin: 2px; padding: 5px; background-color: antiquewhite;" type="button" value="Read some jokes">
    </a>

    <br>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
