<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <i class="fa-regular fa-face-grin-tongue-wink fa-4x"></i>
    <h1 class="display-6">You've discovered some!</h1>

    <% userWithSecrets.map(users => {%>
      <p class="secret-text"><%=users.secret %></p>
    <% })%>
    <hr />

    <h4 class="display-6">Now share yours by submitting a Joke/Secret</h4>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Joke</a
    >
  </div>
</div>

<%- include('partials/footer') %>
